[submodule "src/libs/nxpUSBlib"]
	path = src/libs/nxpUSBlib
	url = https://github.com/openxc/nxpUSBlib.git
[submodule "src/libs/cJSON"]
	path = src/libs/cJSON
	url = https://github.com/openxc/cJSON.git
[submodule "src/libs/CDL"]
	path = src/libs/CDL
	url = https://github.com/openxc/nxp-cdl
[submodule "src/libs/BSP"]
	path = src/libs/BSP
	url = https://github.com/openxc/nxp-bsp
[submodule "src/libs/arduino.mk"]
	path = src/libs/arduino.mk
	url = https://github.com/peplin/arduino.mk
