#ifndef _HANDLERS_H_
#define _HANDLERS_H_

#include "can/canread.h"

using openxc::can::CanSignal;

float handleInvertedSteeringWheel(CanSignal* signal, CanSignal* signals,
        int signalCount, float value, bool* send);

void handleSteeringWheelMessage(int messageId, uint64_t data, CanSignal* signals,
        int signalCount, Pipeline* pipeline);

void initializeMyStuff();

void initializeOtherStuff();

void myLooper();

#endif // _HANDLERS_H_
