#include "handlers.h"
#include "canwrite.h"

void handleSteeringWheelMessage(int messageId, uint64_t data, CanSignal* signals,
        int signalCount, Listener* listener) {
    sendNumericalMessage("latitude", 42.0, listener);
}

float handleInvertedSteeringWheel(CanSignal* signal, CanSignal* signals,
        int signalCount, float value, bool* send) {
    return value * -1;
}
